
<html>
<head>
	<title>Login</title>
</head>
<body align="center">

   <br/>
	<br/>
	<h1><u><b><i> Vivid</i></b></u><sub>where we connect.....</sub></h1>
    	

    <form method="post" action="../controller/loginchk.php" enctype="">
	
     <fieldset>
        <legend>LOGIN</legend>
        Username : <br />
        <input type="text" name="name" value="" /> <br />
        Password : <br />
        <input type="password" name="password" value="" /> <br />
        <br/><input type="submit" name="submit" value="LogIn" />
        <a href="usersignup.php">Register </a>
      </fieldset>
	
	</form>
	


</body>
</html>